<section class="orders light-section">
    <div class="conatiner mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All  Orders</h1>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                           Orders
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Customers
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Address
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Placed At
                        </th>
                    </tr>
                </thead>
                <tbody id="orderTableBody">
                 
                  
                </tbody>
            </table>
        </div>
    </div>
</section>


